@font-face {
  font-family: "lato-regular";
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}
html.modal-active, body.modal-active {
  overflow: hidden;
}
@media (max-width: 768px) {
  html, body {
    overflow-x: scroll;
  }
}

.container_ {
  position: relative;
  display: flex;
  justify-content: center;
  width: 940px;
  margin: auto;
  height: 600px;
}
@media (max-width: 768px) {
  .container_ {
    justify-content: flex-start;
    overflow-x: scroll;
  }
}
.container_ .container-img-factura {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  width: 880px;
  height: auto;
  z-index: 200;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas: "col-1 col-1 col-2 col-2 col-3 col-3" "col-4 col-4 col-4 col-5 col-6 col-6" "col-7 col-7 col-7 col-8 col-8 col-8" "col-9 col-9 col-9 col-8 col-8 col-8" "col-9 col-9 col-9 col-8 col-8 col-8" "col-10 col-10 col-10 col-8 col-8 col-8" "col-11 col-11 col-11 col-12 col-12 col-12";
  padding: initial;
}
@media (min-width: 990px) {
  .container_ .container-img-factura {
    padding: 1em 0 0.5em 1em;
  }
}
.container_ .container-img-factura .col {
  align-self: center;
  position: relative;
}
.container_ .container-img-factura .col-1 {
  width: 300px;
  height: 50%;
  grid-column-start: col-1;
  grid-column-end: col-1;
  align-self: center;
}
.container_ .container-img-factura .col-2, .container_ .container-img-factura .col-3 {
  opacity: 0;
}
.container_ .container-img-factura .col-4 {
  top: -20px;
  width: 450px;
  grid-column-start: col-4;
  grid-column-end: col-4;
  align-self: center;
}
.container_ .container-img-factura .col-5 {
  top: -20px;
  width: 150px;
  grid-column-start: col-5;
  grid-column-end: col-5;
  align-self: center;
}
.container_ .container-img-factura .col-6 {
  width: 300px;
  top: -20px;
  grid-column-start: col-6;
  grid-column-end: col-6;
  align-self: center;
  display: flex;
  justify-content: flex-end;
}
.container_ .container-img-factura .col-6 .button {
  position: relative;
  right: 15px;
}
.container_ .container-img-factura .col-7 {
  width: 450px;
  top: -50px;
  grid-area: col-7;
}
.container_ .container-img-factura .col-8 {
  width: 450px;
  grid-area: col-8;
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
}
.container_ .container-img-factura .col-9 {
  top: -80px;
  width: 450px;
  grid-area: col-9;
  align-self: stretch;
}
.container_ .container-img-factura .col-10 {
  width: 450px;
  grid-area: col-10;
  align-self: stretch;
  top: -100px;
}
.container_ .container-img-factura .col-11 {
  width: 450px;
  grid-area: col-11;
  align-self: stretch;
}
.container_ .container-img-factura .col-12 {
  width: 450px;
  grid-area: col-12;
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
}
.container_ .img-container-facture {
  position: absolute;
  z-index: 100;
  top: 30px;
  display: block;
  width: 850px;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
}

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 999;
}
#modal-container.six {
  transform: scale(1);
}
#modal-container.six .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six .modal-background .modal {
  background-color: transparent;
  animation: modalFadeIn 0.3s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six .modal-background .modal h2, #modal-container.six .modal-background .modal p, #modal-container.six .modal-background .modal img, #modal-container.six .modal-background .modal a, #modal-container.six .modal-background .modal i {
  opacity: 0;
  position: relative;
  animation: modalContentFadeIn 0.3s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six .modal-background .modal h2, #modal-container.six .modal-background .modal p {
  font-family: "lato-regular";
}
#modal-container.six.out {
  animation: quickScaleDown 0s 0.5s linear forwards;
}
#modal-container.six.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out .modal-background .modal {
  animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out .modal-background .modal h2, #modal-container.six.out .modal-background .modal p, #modal-container.six.out .modal-background .modal img, #modal-container.six.out .modal-background .modal a {
  animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
#modal-container .modal-background .modal {
  background: white;
  padding: 20px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}
#modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
#modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}
#modal-container .modal-background .modal img {
  max-width: 280px;
  height: auto;
}

.button {
  text-align: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: rgba(16, 131, 226, 0.6);
  border: 1px solid rgba(121, 192, 245, 0.6);
  color: white;
}
.button:hover {
  color: white;
  background: #009bd5;
}

.btn-close {
  display: flex;
  text-decoration: none;
  justify-content: flex-end;
}
.btn-close i {
  display: block;
  justify-self: flex-end;
  color: #009bd5;
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes sketchIn {
  0% {
    stroke-dashoffset: 778;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 778;
  }
}
@keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}
@keyframes modalFadeOut {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background: #d7dede;
}

::-webkit-scrollbar-thumb {
  background: #009bd5;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

::-webkit-scrollbar-thumb:hover {
  background: #cbc4bb;
}

/*# sourceMappingURL=styles.css.map */
